{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="hero-container d-flex flex-column justify-content-center align-items-center text-center">
    <div class="hero-overlay">
        <h1 class="display-3 logo-font">Mountmellick Motors</h1>
        <p class="lead mt-3">
            Your trusted, local car dealership in the heart of the midlands, offering a wide selection of high-quality vehicles at competitive prices.
        </p>
        <a href="{% url 'stock' %}" class="btn btn-lg btn-primary rounded-0 text-uppercase py-3 mt-4">View Stock</a>
    </div>
</div>
{% endblock %}