{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5 text-center">
    <h1>Finance Options</h1>
    <p>Purchasing a car on finance typically requires a 10% deposit. The remaining amount is spread over a number of years in a loan. This allows you to drive away with your car today while paying it off in manageable installments.</p>
    <p>If you're interested in applying for finance, please submit the application form and a member of our team will be in touch</p>

    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'finance_application' %}" class="btn btn-primary">Apply for Finance</a>
    </div>
</div>
{% endblock %}
